<h1>Listing tickets</h1>

<table class="table" id="tickets-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Status</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

<br/>

<a href="#/new">New Ticket</a>

