<h1>Last month closed tickets</h1>

<a href="/pdf_report.pdf">Download report</a>

<table class="table" id="tickets-table">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Status</th>
    <th>Created at</th>
    <th>Updated at</th> 
  </tr>
</table>

<br/>

<a href="#/index">Back</a>
