<% if flash[:alert] %>
  <div class="alert alert-danger alert-dismissable fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong><%= flash[:alert] %></strong>
  </div>
<% end %>
<div id="tickets"></div>

<script type="text/javascript">
  $(function() {

    window.router = new TicketExample.Routers.TicketsRouter();
    window.router.navigate("index");
    window.current_user_type = "<%= current_user.roles.first.name %>";
    window.statuses = <%=raw Status.all.map{|s| [s.id,s.name]} %>
    Backbone.history.start();
  });
</script>  